@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}

body {
  /*background-image: url("./wallpaper2.jpg");
  background-repeat: no-repeat;
 
  background-attachment: fixed;
  background-position:center; 
*/
  background-color: #ffffff;
  max-width: 100%;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;

  background-color: #fafafa;
}

.navbar-light {
  background-color: transparent;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

/*
.auth-inner {
  width: 500px;
  margin:auto;
  margin-top: 5%;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
*/

.loginStyle {
  width: 500px;
  margin: auto;
  margin-top: 5%;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  transition: all 0.3s;
}

.EditProfileStyle{
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 30px 55px 45px 55px;
  transition: all 0.3s;
}

.registerStyle {
  max-width: 500px;
  margin: auto;
  margin-top: 75px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  transition: all 0.3s;
}
.addproductStyle {
  width: 500px;
  margin: auto;
  margin-top: 5%;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  transition: all 0.3s;
}
.auth-wrapper .form-control:focus {
  border-color: #cfc592;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.btn-warning {
  color: white !important;
  background-color: #bfbb8b !important;
  border-radius: 0 !important;
  border: none !important;
  font-weight: bolder !important;
}

.divcreateacc {
  text-align: center;
  margin-top: 5%;
}
#createaccountlink {
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: rgb(190, 176, 132);
  text-decoration: underline;
}

.errorColor {
  color: rgb(143, 101, 101);
}

.ProductCard {
  height: 550px !important;
  width: 400px;
  cursor: pointer;
  padding:50px ;

}



.ProductListImages {
  margin:auto;
  align-items: center;
  margin-left: 30px;
  height: 400px;
  width: 400px;
}

.ProductListImages:hover {
  border-color: #b5ad7f;
  border-style: inset;
  border-width: 5px;
}



.SelectedProductCard {
  margin: auto !important;
  margin-top: 2% !important;
  height: 40%;
  width: 90% !important;
  margin-bottom: 5% !important;
  border-style: groove;
  background-color: rgb(237, 234, 229);
 
}

.titleProd {
  font-family: monospace;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: large;
  margin-top: 10px !important;
}

.priceProd {
  font-family: monospace;
  font-size: medium;
}

.searchBarDiv {
  text-align: center !important;
  margin: auto !important;
  background-color: white;
  border-top: solid;
  border-color: black;
  border-bottom: solid;
  border-width: 1px;
}

.SortBy {
  margin: auto !important;
  text-align: center !important;
  margin-top: 5px !important;
  color: gray;
  letter-spacing: 0.2em;
  width: 600px !important;
  font-family: monospace;
  font-size: large;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 5px !important;
  border-top: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;
  outline: none;
}

.searchBar {
  margin: auto !important;
  text-align: center !important;
  margin-top: 5px !important;
  width: 600px !important;
  font-family: monospace;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px !important;
  border-top: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;
}
.form-control:focus {
  border-color: #bdb37a !important;
}
.form-control {
  border-radius: 0% !important;
}

.Carousel {
  margin-top: 50px !important;

  width: 724px !important;
  height: 870px !important;
}

.imgCarousel {
  margin-left: 0%;
  margin-right: 0%;
  padding: 0px;
  width: 100% !important;
  height: 100% !important;
}

.ProductDetails {
  font-family: "Gill Sans";
  color: rgb(150, 143, 87);
  color: #494948;
  margin: auto;
}
.QuantityDetailsStyle {
  font-family: "Gill Sans";
  color: #494948;
}
.btnAddToCart {
 
  width: 100%;
  height: 40px;
  
  border: solid;
  border-width: 2px;
  color: rgb(82, 79, 79);
  border-color: rgb(84, 82, 82);
  font-size: larger;
  font-weight: bolder;
  background-color: rgb(237, 234, 229) !important;
}

.paginationNav {
  margin-top: 100px;
}

.pagination > li > a {
  background-color: white;
  color: #b9b187;
  border-radius: 0 !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #c7c392;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #d8d3a6 !important;
  border: solid 1px #aba675 !important;
}

.pagination > .active > a:hover {
  background-color: #d8d3a6 !important;
  border: solid 1px #aba675;
}

.loader {
  margin: auto !important;
  margin-top: 5% !important;
  text-align: center !important;
  justify-content: center !important;
}

.CartCard {
  margin-left: 2% !important;
  width: 95%;
  background-color: rgb(237, 234, 229);
  margin-top: 2% !important;
  border-style: solid;
  border-color: rgb(223, 217, 199) !important;
  border-width: 1px;
  height: 10% !important;
}

.CartImage {
  height: 100%;
  width: 350px !important;
  padding: 0.5rem;
}

.CartIconsDiv {
  clear: right !important;
  float: right;
}

.CartIcons {
  clear: right !important;
  float: right;
}

.CartIcons:hover {
  cursor: pointer;
  color: rgb(231, 35, 35) !important;
}

.container {
  position: relative;
}
.container img {
  display: block;
  width: 100%;
}
.container .btnDeleteProd {
  color: #2e2e2c;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  border: none;
  right: 0;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 10px 10px;
  opacity: 90%;
}
.container .btnEditProd {
  color: #2e2e2c;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  margin-right: 20px;
  margin-bottom: 60px;
  padding: 10px 10px;
  opacity: 90%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Modal */
.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 900px;
  width: 100%;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 10000px 0px rgba(255, 255, 255, 0.75);
  border-radius: 30px;
  border: solid;
  border-color: #aba675;
  border-width: 1px;
  cursor: default;
}

img {
  object-fit: cover;
}

.modalRight {
  width: 100%;
  top: 0%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: 0.5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: rgb(178, 171, 142);
  color: white;

  border: solid;
  border-color: rgb(178, 171, 142) !important;
  border-radius: 40px;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: rgb(178, 171, 142);

  border: solid;
  border-color: rgb(178, 171, 142) !important;
  border-radius: 40px;
}

.bold {
  font-weight: 600;
}
@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .heading {
    margin: 1rem;
  }
}

.ModalImage {
  height: 100%;
  margin-top: 2% !important;
  padding: 1rem;
  width: 350px !important;
  border-radius: 50%;
}

.CartHeader {
  margin-top: 1% !important;
  background-color: rgb(237, 234, 229);
  height: 60px;
  width: 90%;
  text-align: center;
  margin: auto !important;
  text-align: center !important;
}
.CartSubtotal {
  margin: auto !important;
  margin-top: 1% !important;
  background-color: transparent;
  font-weight: bolder;
  height: 50px;
  width: 50%;
  color: rgb(72, 72, 72);
  text-align: center;
  text-align: center !important;

}
.CartEmpty {
  text-align: center;
  background-color: rgb(237, 234, 229);
  color: rgb(67, 67, 67);
  height: 100%;
  font-weight: bolder;
  border: none;
}

.CartCheckout {
  font-weight: bolder;
  background-color: rgb(237, 234, 229);
  color: rgb(92, 92, 92);
  height: 100%;

  border: none;
  border-left: solid;
}

.paypalDiv {
  width: 50%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

.EmptyCart {
  width: 50%;
  height: 300px;
  text-align: justify;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  font-size: xx-large;
  color: rgb(63, 63, 63);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btnSubmit {
  display: none;
}

.OrdersCard {
  margin-top: 50px !important;
  margin-left: 50px !important;
  width:400px !important;
  height: 150px !important;
  cursor: pointer;
  border: solid;
  border-color: #b5ad7f;
}

.titleOrder {
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: large;
  height: 8px;
  width: 100%;
  margin-top: 30px !important;
  text-transform: uppercase;
}
.dateOrder {
  font-family: monospace;
  font-size: medium;
}

.totalOrder {
  font-family: monospace;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  height: 8px;
  background-color: #b5ad7f;
  text-transform: uppercase;
}

.OrderDetailsCard {
  margin: auto !important;
  width: 80%;
  background-color: rgb(237, 234, 229);
  margin-top: 50px !important;
  border-style: solid;
  border-color: rgb(194, 179, 134) !important;
  border-width: 1px;
  height: 10% !important;
}

.OrderDetailsImage {
  height: 100%;
  width: 150px !important;
  padding: 0.5rem;
}
.OrderDetailsTitle {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1rem;
  text-transform: uppercase;
}

.OrderDetailsQuantity {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1rem;
  text-transform: uppercase;
}
.OrderDetailsPrice {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1rem;
  text-transform: uppercase;
}
details .PurchaseSuccess {
  margin-top: 20%;
  color: gray;
  font-weight: lighter;
  font-family: "Trebuchet MS";
}

.imghome {
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
}

.hometext {
 
  letter-spacing: 0.2rem;
  font-family: monospace;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.HomeCatImg {
  width: 485px;
  height: 800px;
  cursor: pointer;
  border:solid;
  border-color: white;
  border-width: 5px;
}

.HomeCatDiv {
  cursor: pointer;
  margin-left: 0px;
}

.btnShopNow {
  margin: auto;
  width: 20%;
  height: 40px;
  margin-top: 30px;
  color: white;
  background-color: #080807 !important;
}

.webcamDiv {
  margin: auto;
  width: 200px;
  height: 250px;
  margin-bottom: -80px;
}
.webcam {
  width: 100%;
  border-style: double;
  height: 200px;
}

.imgUserNav {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.logo {
  width: 300px;
  height: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

.OutOfStock {
  color: red;
}

.captureBtn{

  margin-bottom: 50px !important;
}