@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}


body {
  /*background-image: url("./wallpaper2.jpg");
  background-repeat: no-repeat;
 
  background-attachment: fixed;
  background-position:center; 
*/
  background-color: #ffffff;
  max-width: 100%;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;

  background-color: #fafafa;
}

.navbar-light {
  background-color: transparent;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

/*
.auth-inner {
  width: 500px;
  margin:auto;
  margin-top: 5%;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
*/

.loginStyle {
  width: 500px;
  margin: auto;
  margin-top: 5%;

  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.registerStyle {
  max-width: 500px;
  margin: auto;
  margin-top: 5%;

  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.addproductStyle {
  width: 500px;
  margin: auto;
  margin-top: 5%;

  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.auth-wrapper .form-control:focus {
  border-color: #cfc592;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.btn-warning{
color:white !important;
background-color:#a39f69 !important;
border:inset !important;
border-color: #a39f69 !important ;
}

.divcreateacc {
  text-align: center;
  margin-top: 5%;
}
#createaccountlink {
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: rgb(190, 176, 132);
  text-decoration: underline;
}

.errorColor {
  color: rgb(143, 101, 101);
}

.ProductCard {
  margin-top: 100px;
  height: 400px !important;
  cursor: pointer;
}



.col-4 {
  width: 420px !important;
  margin-left: 110px;
  margin-right:50px;
  margin-top: 130px !important;
}

.ProductListImages {
  height: 100%;
  width: 100%;

}

.ProductListImages:hover {
  border-color: #b5ad7f;
  border-style: inset;
  border-width: 5px;
  
}

/*
height: 450px;
  width: 450px;
  margin-left: -25px;
  margin-top:-20px
  box-shadow: 0px 0px  55px  1rem rgb(135, 134, 132);*/

.SelectedProductCard {
  margin: auto !important;
  margin-top: 2% !important;
  height: 755px !important;
  width: 90% !important;
  border:double;

}
.selectedProdImage {
  margin-top:5%;
  height: 750px;
  width: 750px ;
  cursor: pointer;
 
}



.titleProd {
  font-family: monospace;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: large;
  margin-top: 10px !important;
}

.priceProd {
  font-family: monospace;
  font-size: medium;
}

.searchBarDiv {
  text-align: center !important;
  margin: auto !important;
  background-color: white;
  border-top: solid;
  border-color: black;
  border-bottom: solid;
  border-width: 1px;
}

.searchBar {
  margin: auto !important;
  text-align: center !important;
  margin-top: 5px !important;
  width: 600px !important;
  font-family: monospace;
  font-size: larger;
  font-weight: bold;
  text-transform:uppercase;
  margin-bottom: 5px !important;
  border-top:none !important;
  border-bottom:none !important;
  border-radius: 0 !important;
}
.form-control:focus{
  border-color: #bdb37a !important;

}

.Carousel {
  margin: auto;
  margin-top: 5%;
  width: 600px !important;
  height: 600px !important;
  border-style: double;
}

.imgCarousel {
  margin: auto;

  width: 100% !important;
  height: 100% !important;
}


.ProductDetails{

  font-family: monospace;
  color:rgb(150, 143, 87);
  margin:auto;
}

.btn-warning{
  border-radius: 0 !important;
}


.paginationNav{

  margin-top: 10%;
}

.pagination > li > a
{
    background-color: white;
    color: #b9b187;
    border-radius: 0 !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #c7c392;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #d8d3a6 !Important;
    border: solid 1px #aba675 !Important;
}

.pagination > .active > a:hover
{
    background-color: #d8d3a6 !Important;
    border: solid 1px #aba675;
}

.loader{

  margin:auto !important;
  margin-top: 5% !important;
  text-align: center !important;
  justify-content: center !important;
}

.CartCard{
  margin-left:2% !important;
  width:95%;
  background-color: rgb(252, 248, 242);
  margin-top:2% !important;
  border-style: solid;
  border-color:rgb(194, 179, 134) !important;
  border-width: 1px;
  height:300px !important;
  border-radius: 50px;
}

.CartImage{

  height:100%;
  width:350px !important;
  padding: 0.5rem;
  border-radius: 50px;
}

.CartIconsDiv{

  clear:right !important;
  float:right;
}

.CartIcons{

  clear: right !important;
  float:right;
}

.CartIcons:hover{

 
  cursor: pointer;
  color:rgb(231, 35, 35) !important;
}

.btnEditProd{
  width:100% !important;
  margin:auto !important;

  background-color: rgb(178, 171, 142) !important;
  border:none;
  color: whitesmoke;

}





* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Modal */
.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 900px;
  width: 100%;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 10000px 0px rgba(255, 255, 255, 0.75);
  border-radius: 30px;
  border:solid;
  border-color: #aba675;
  border-width: 1px;
  cursor: default;
}

img {
  object-fit: cover;

}

.modalRight {
  width: 100%;
  top: 0%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: rgb(178, 171, 142);
  color: white;
  
  border:solid;
  border-color:rgb(178, 171, 142) !important;
  border-radius: 40px;

}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: rgb(178, 171, 142);

  border:solid;
  border-color:rgb(178, 171, 142) !important;
  border-radius: 40px;
}

.bold {
  font-weight: 600;
}
@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .heading {
    margin: 1rem;
  }
}


.ModalImage{

  height:100%;
  margin-top:2% !important;
  padding: 1rem;
  width:350px !important;
  border-radius: 50%;

}

.CartHeader{
  margin-top: 1% !important;
  background-color: rgb(142, 102, 102);
  border-radius: 20px;
  height:60px;
  width:90%;
  text-align: center;
  margin: auto !important;
  text-align: center !important;

}
.CartSubtotal{
  margin: auto !important;
  margin-top: 1% !important;
  background-color: wheat;
  border-radius: 20px;
  border:none;
  font-weight: bolder;
  height:50px;
  width:50%;
  color:rgb(72,72,72);
  text-align: center;
  text-align: center !important;

}
.CartEmpty{
  text-align: center;
  background-color: rgb(144, 112, 112);
  color: white;
  height:100%;
  border-radius: 20px;
  font-weight: bolder;
  border:none;

}


.CartCheckout{
  font-weight: bolder;
  background-color: rgb(144, 112, 112);
  color: white;
  height:100%;
  border-radius: 20px;
  border:none;
  border-left: solid;


}

.paypalDiv {
  width: 50%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}


.EmptyCart {
  width: 50%;
  height:300px;
  text-align: justify;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  font-size:xx-large;
  color: rgb(63, 63, 63);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.btnSubmit{

  display: none;
}


.OrdersCard {
  margin-top: 100px;
  height: 150px !important;
  cursor: pointer;
  border:solid;
  border-color: #b5ad7f;
}

.titleOrder {
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: large;
  height:8px;
  width:100%;
  margin-top: 30px !important;

}
.dateOrder {
  font-family: monospace;
  font-size: medium;
}

.totalOrder {
  font-family: monospace;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  height:8px;
  background-color: #b5ad7f ;
}



.OrderDetailsCard{
  margin:auto !important;
   
  
  width:80%;
  background-color: rgb(252, 248, 242);
  margin-top:1% !important;
  border-style: solid;
  border-color:rgb(194, 179, 134) !important;
  border-width: 1px;
  height:150px !important;

}

.OrderDetailsImage{

  height:100%;
  width:150px !important;
  padding: 0.5rem;
}
.OrderDetailsTitle{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1rem;
}

.OrderDetailsQuantity{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1rem;

}
.OrderDetailsPrice{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1rem;

}